:root {
  font-family: "Karla", Arial, sans-serif;

  --bg-colour: #1f2937;
  --primary-colour: #10b981;
  --text-colour: #ffffff;
  --secondary-text-colour: #d5d4d8;
  --output-text-colour: #55f991;
}
